<!DOCTYPE html>
<html>
<head>
<title>Wanderlust</title>
<link rel='stylesheet' href='/css/style.css'>
</head>
<body>

<%- include('navbar') %>

<main>
<%- body %>
</main>

<%- include('footer') %>

<script src='/js/validation.js'></script>

</body>
</html>
